*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    position: fixed;
    text-shadow: .5px .5px .5px #000;
    z-index:1000;
}
header:hover{
    background-color: #f2f2f2;
    text-emphasis-color: #000;
}
header nav ul{
    padding-left: 50px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    font-weight: 500;
    padding:20px 10px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;

}
header nav ul li a{
    text-decoration: none;
    color: rgba(255,255,255,1);
}
header nav ul li a:hover{
    text-decoration: none;
}


.carousel-inner >.item{
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.carousel-inner {
    height: 100vh;
}


.carousel-inner>.item {
    height: 100%;

}
.carwrap{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    background: red;
}

.carwrap button{
    position: absolute;


}
.carousel-indicators li{
    width: 30px;
    background: rgb(104, 182, 206);
    border-radius: 10px;
    height: .2px;
    margin: 0px 8px;

}
.carousel-indicators .active{
    width: 35px !important;
    background: rgb(86, 162, 192) !important;
    border-radius: 10px !important;
    height: 2px !important;
    border: none !important;
}
iframe{
    height: 100vh;
    width: 100%;
}
.feature-image img{
    min-height: 250px;
    max-height: 250px;
}
.page-feature{
    margin: 50px 0px;
}
.about-us{
    padding:50px 10px;
    background: #efefef;
}
.about-us-header{
    text-transform: uppercase;
    padding:10px 0px;
}
.about-us-text{
    font-size: 16px;
    text-align: justify;
}
footer{
    padding: 50px 0px;
    background: #1f1f1f;
    color: #ccc;

}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 100%;

}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    overflow: hidden;
}
.vimeo-info{
    position: absolute;
    z-index: 1000;
    bottom: 10%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}

.vimeo-info .btn{
    line-height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgba(0,170,238,.8);
    border:none;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    outline: none;
    color: #fff;
}