*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    position: fixed;
    z-index:1000;
}
header nav ul{
    padding-left: 50px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    font-weight: 600;
    padding:20px 10px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    
}
header nav ul li a{
    text-decoration: none;
    color: rgba(255,255,255,1);
}
header nav ul li a:hover{
    text-decoration: none;
}


.carousel-inner >.item{
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.carousel-inner {
    height: 100vh;
}


.carousel-inner>.item {
    height: 100%;
 
}
.carwrap{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    background: red;
}
   
.carwrap button{
    position: absolute;
    

}
.carousel-indicators li{
    width: 40px;
    background: rgb(104, 182, 206);
    border-radius: 10px;
    height: 2px;
    margin: 0px 5px;
    
}
.carousel-indicators .active{
    width: 50px !important;
    background: rgb(86, 162, 192) !important;
    border-radius: 10px !important;
    height: 5px !important;
    border: none !important;
}
iframe{
    height: 100vh;
    width: 100%;
}
.feature-image img{
    min-height: 250px;
    max-height: 250px;
}
.page-feature{
    margin: 50px 0px;
}
.about-us{
    padding:50px 10px;
    background: #efefef;
}
.about-us-header{
    text-transform: uppercase;
    padding:10px 0px;
}
.about-us-text{
    font-size: 16px;
    text-align: justify;
}
footer{
    padding: 50px 0px;
    background: #1f1f1f;
    color: #ccc;

}